<main>
  <div class="container">
    <div id="posts">

      <div id="post-form">
        <div id="post-error">
          <ul>
            <% @post.errors.full_messages.each do |error| %>
            <li><%= error %></li>
            <% end %>
          </ul>
        </div>
        <%= form_tag(create_url) do %>
        <div id="form-message">
          <textarea id="input-message" name="message"><%= @post.message %></textarea>
        </div>
        <input id="submit-button" type="submit" value="投稿">
        <% end %>
      </div>

      <% @posts.each do |post| %>
        <% @current_user.id == post.author_id ? post_type = "my-post" : post_type = "others-post" %>
        <div class="post <%= post_type %>">
          <div class="post-content">
            <p class="post-message">
              <%= post.message %>
            </p>
            <p class="post-datetime">
              <%= link_to(post.jsttime, "/chat/#{post.id}") %>
            </p>
          </div>
          <div class="post-author">
            <% post_author = User.find(post.author_id) %>
            <img class="author-icon" src="/icons/<%= post_author.image_name %>" alt="">
            <p class="author-name">
              <%= post_author.name %>
            </p>
          </div>
        </div>
      <% end %>

    </div>
  </div>
</main>
