<main>
  <div class="container">
    <div id="posts">
      <% @current_user.id == @post.author_id ? post_type = "my-post" : post_type = "others-post" %>
      <div class="post <%= post_type %>">
        <div class="post-content">
          <p class="post-message">
            <%= @post.message %>
          </p>
          <p class="post-datetime">
            <%= @post.jsttime %>
          </p>
        </div>
          <div class="post-author">
            <% post_author = User.find(@post.author_id) %>
            <img class="author-icon" src="/icons/<%= post_author.image_name %>" alt="">
            <p class="author-name">
              <%= post_author.name %>
            </p>
          </div>
      </div>

    </div>
  </div>
</main>
