<!DOCTYPE html>
<html>
  <head>
    <title>SimpleChat ver.1</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/ress/dist/ress.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div id="header-logo">
        <h1><%= link_to("SimpleChat ver.1",root_url) %></h1>
      </div>
      <div id="header-menu">
        <ul>
          <li><%= link_to("このアプリについて", about_url) %></li>
          <li><%= link_to("新規登録", register_url) %></li>
          <li><%= link_to("ログイン","#") %></li>
          <li><%= link_to("ユーザ一覧", users_url) %></li>
        </ul>
      </div>
    </header>

    <%= yield %>

    <footer>
      <p>SimpleChat ver.1 made by ha4gu, powered by Ruby on Rails</p>
    </footer>

    <!--  Background pattern from Toptal Subtle Patterns
          Sneaker Mesh Fabric - Subtle Patterns | Free textures for your next web project
          https://www.toptal.com/designers/subtlepatterns/sneaker-mesh-fabric/ -->

  </body>
</html>
